body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
nav {
    width: 100%;
    height: 80px;
    background-color: #333333;
    position: fixed;
    top: 0;
    left: 0;
}

.nav-container {
    height: 80px;
    width: 90%;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-container h1 {
    font-size: 35px;
}

.nav-container select , input {
    font-size: 15px;
}

#products {
    width: 60%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    grid-gap: 50px;
    margin-top: 100px;
}

.product-content {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 10px;
}

.product-content img {
    width: 200px;
    height: 180px; 
}